/* Arquitecta */
@font-face {
    font-family: 'arquitecta', Arial;
    src: url("//cdn.shopify.com/s/files/1/2185/2813/t/2441/assets/latinotype_-_arquitectathin-webfont.woff2?v=163815346538380974561661490371") format('woff2'),
      url("//cdn.shopify.com/s/files/1/2185/2813/t/2441/assets/latinotype_-_arquitectathin-webfont.woff?v=54613817702945917591661490363") format('woff');
    font-weight: 100;
    font-style: 100;
    font-display: swap;
  }

  @font-face {
    font-family: 'arquitecta';
    src: url("//cdn.shopify.com/s/files/1/2185/2813/t/2441/assets/latinotype_-_arquitecta-webfont.woff2?v=6997927752184387461661490353") format('woff2'),
      url("//cdn.shopify.com/s/files/1/2185/2813/t/2441/assets/latinotype_-_arquitecta-webfont.woff?v=108333426453216714271661490363") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'arquitecta';
    src: url("//cdn.shopify.com/s/files/1/2185/2813/t/2441/assets/latinotype_-_arquitectablack-webfont.woff2?v=13657020597760236281661490358") format('woff2'),
      url("//cdn.shopify.com/s/files/1/2185/2813/t/2441/assets/latinotype_-_arquitectablack-webfont.woff?v=109944306522337207381661490353") format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'arquitecta';
    src: url("//cdn.shopify.com/s/files/1/2185/2813/t/2441/assets/latinotype_-_arquitectabold-webfont.woff2?v=74635081121537296441661490358") format('woff2'),
      url("//cdn.shopify.com/s/files/1/2185/2813/t/2441/assets/latinotype_-_arquitectabold-webfont.woff?v=153485633620892383751661490359") format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'arquitecta';
    src: url("//cdn.shopify.com/s/files/1/2185/2813/t/2441/assets/latinotype_-_arquitectabook-webfont.woff2?v=20815885258586915531661490367") format('woff2'),
      url("//cdn.shopify.com/s/files/1/2185/2813/t/2441/assets/latinotype_-_arquitectabook-webfont.woff?v=162414122045367758811661490352") format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'arquitecta';
    src: url("//cdn.shopify.com/s/files/1/2185/2813/t/2441/assets/latinotype_-_arquitectamedium-webfont.woff2?v=162566454933482519361661490359") format('woff2'),
      url("//cdn.shopify.com/s/files/1/2185/2813/t/2441/assets/latinotype_-_arquitectamedium-webfont.woff?v=290780496896615301661490362") format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  /* Proxima Nova */

  @font-face {
    font-family: 'proxima-nova';
    src: url('https://use.typekit.net/af/56b0cd/00000000000000007735957d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3') format('woff2'),
      url('https://use.typekit.net/af/56b0cd/00000000000000007735957d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3') format('woff'),
      url('https://use.typekit.net/af/56b0cd/00000000000000007735957d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3') format('opentype');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: 'proxima-nova';
    src: url('https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/l?primer=51e46510a8bcdb92fa139186fdd3d43fc0ac4348ee92477ba51cd46504e98815&fvd=n4&v=3') format('woff2'),
      url('https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/d?primer=51e46510a8bcdb92fa139186fdd3d43fc0ac4348ee92477ba51cd46504e98815&fvd=n4&v=3') format('woff'),
      url('https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/a?primer=51e46510a8bcdb92fa139186fdd3d43fc0ac4348ee92477ba51cd46504e98815&fvd=n4&v=3') format('opentype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'proxima-nova';
    src: url('https://use.typekit.net/af/5c70f2/00000000000000003b9b3063/27/l?primer=51e46510a8bcdb92fa139186fdd3d43fc0ac4348ee92477ba51cd46504e98815&fvd=i4&v=3') format('woff2'),
      url('https://use.typekit.net/af/5c70f2/00000000000000003b9b3063/27/d?primer=51e46510a8bcdb92fa139186fdd3d43fc0ac4348ee92477ba51cd46504e98815&fvd=i4&v=3') format('woff'),
      url('https://use.typekit.net/af/5c70f2/00000000000000003b9b3063/27/a?primer=51e46510a8bcdb92fa139186fdd3d43fc0ac4348ee92477ba51cd46504e98815&fvd=i4&v=3') format('opentype');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'proxima-nova';
    src: url('https://use.typekit.net/af/0758f3/000000000000000077359583/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3') format('woff2'),
      url('https://use.typekit.net/af/0758f3/000000000000000077359583/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3') format('woff'),
      url('https://use.typekit.net/af/0758f3/000000000000000077359583/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3') format('opentype');
    font-display: swap;
    font-style: normal;
    font-weight: 500;
  }

  @font-face {
    font-family: 'proxima-nova';
    src: url('https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/l?primer=51e46510a8bcdb92fa139186fdd3d43fc0ac4348ee92477ba51cd46504e98815&fvd=n6&v=3') format('woff2'),
      url('https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/d?primer=51e46510a8bcdb92fa139186fdd3d43fc0ac4348ee92477ba51cd46504e98815&fvd=n6&v=3') format('woff'),
      url('https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/a?primer=51e46510a8bcdb92fa139186fdd3d43fc0ac4348ee92477ba51cd46504e98815&fvd=n6&v=3') format('opentype');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: 'proxima-nova';
    src: url('https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/l?primer=51e46510a8bcdb92fa139186fdd3d43fc0ac4348ee92477ba51cd46504e98815&fvd=n7&v=3') format('woff2'),
      url('https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/d?primer=51e46510a8bcdb92fa139186fdd3d43fc0ac4348ee92477ba51cd46504e98815&fvd=n7&v=3') format('woff'),
      url('https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/a?primer=51e46510a8bcdb92fa139186fdd3d43fc0ac4348ee92477ba51cd46504e98815&fvd=n7&v=3') format('opentype');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: 'proxima-nova';
    src: url('https://use.typekit.net/af/4c4052/00000000000000003b9b3069/27/l?primer=51e46510a8bcdb92fa139186fdd3d43fc0ac4348ee92477ba51cd46504e98815&fvd=i7&v=3') format('woff2'),
      url('https://use.typekit.net/af/4c4052/00000000000000003b9b3069/27/d?primer=51e46510a8bcdb92fa139186fdd3d43fc0ac4348ee92477ba51cd46504e98815&fvd=i7&v=3') format('woff'),
      url('https://use.typekit.net/af/4c4052/00000000000000003b9b3069/27/a?primer=51e46510a8bcdb92fa139186fdd3d43fc0ac4348ee92477ba51cd46504e98815&fvd=i7&v=3') format('opentype');
    font-style: italic;
    font-weight: 700;
    font-display: swap;
  }

@font-face {
  font-family: sign-Alexa;
  src: url("../../static/fonts/your-font/Alexa.ttf")
}
.sign-text-font-Alexa{
    font-family: sign-Alexa;
}
.sign-demo-content .sign-text-font-Alexa {
    font-size: 80px;
    line-height: 94%;
}
.sign-text-font-Alexa .sign-font-name{
    font-size: 25px !important;
}

@font-face {
    font-family: sign-Amanda;
    src: url("../../static/fonts/your-font/Amanda.ttf")
}
.sign-text-font-Amanda{
    font-family: sign-Amanda;
}
.sign-demo-content .sign-text-font-Amanda {
    font-size: 80px;
    line-height: 130%;
}
.sign-text-font-Amanda .sign-font-name{
    font-size: 28px !important;
}

@font-face {
    font-family: sign-Amsterdam;
    src: url("../../static/fonts/your-font/Amsterdam.ttf")
}
.sign-text-font-Amsterdam{
    font-family: sign-Amsterdam;
}
.sign-demo-content .sign-text-font-Amsterdam {
    font-size: 88px;
    line-height: 110%;
}
.sign-text-font-Amsterdam .sign-font-name{
    font-size: 25px !important;
}

@font-face {
    font-family: sign-Austin;
    src: url("../../static/fonts/your-font/Austin.ttf")
}
.sign-text-font-Austin{
    font-family: sign-Austin;
    margin-top: -6px !important;
}
.sign-demo-content .sign-text-font-Austin {
    font-size: 115px;
    line-height: 80%;
}
.sign-text-font-Austin .sign-font-name{
    font-size: 39px !important;
    margin-top: -9px;
}

@font-face {
    font-family: sign-Avante;
    src: url("../../static/fonts/your-font/Avante.ttf")
}
.sign-text-font-Avante{
    font-family: sign-Avante;
}
.sign-demo-content .sign-text-font-Avante {
    font-size: 75px;
    line-height: 98%;
}
.sign-text-font-Avante .sign-font-name{
    font-size: 22px !important;
}

@font-face {
    font-family: sign-Barcelona;
    src: url("../../static/fonts/your-font/Barcelona.ttf")
}
.sign-text-font-Barcelona{
    font-family: sign-Barcelona;
}
.sign-demo-content .sign-text-font-Barcelona {
    font-size: 77px;
    line-height: 158%;
}
.sign-text-font-Barcelona .sign-font-name{
    font-size: 21px !important;
}

@font-face {
    font-family: sign-Bayview;
    src: url("../../static/fonts/your-font/Bayview.ttf")
}
.sign-text-font-Bayview{
    font-family: sign-Bayview;
}
.sign-demo-content .sign-text-font-Bayview {
    font-size: 105px;
    line-height: 94%;
}
.sign-text-font-Bayview .sign-font-name{
    font-size: 34px !important;
}

@font-face {
    font-family: sign-Beachfront;
    src: url("../../static/fonts/your-font/Beachfront.ttf")
}
.sign-text-font-Beachfront{
    font-family: sign-Beachfront;
}
.sign-demo-content .sign-text-font-Beachfront {
    font-size: 73px;
    line-height: 130%;
}
.sign-text-font-Beachfront .sign-font-name{
    font-size: 23px !important;
}

@font-face {
    font-family: sign-Buttercup;
    src: url("../../static/fonts/your-font/Buttercup.ttf")
}
.sign-text-font-Buttercup{
    font-family: sign-Buttercup;
}
.sign-demo-content .sign-text-font-Buttercup {
    font-size: 120px;
    line-height: 95%;
}
.sign-text-font-Buttercup .sign-font-name{
    font-size: 32px !important;
}

@font-face {
    font-family: sign-Chelsea;
    src: url("../../static/fonts/your-font/Chelsea.ttf")
}
.sign-text-font-Chelsea{
    font-family: sign-Chelsea;
}
.sign-demo-content .sign-text-font-Chelsea {
    font-size: 110px;
    line-height: 110%;
}
.sign-text-font-Chelsea .sign-font-name{
    font-size: 37px !important;
}

@font-face {
    font-family: sign-ClassicType;
    src: url("../../static/fonts/your-font/ClassicType.ttf")
}
.sign-text-font-ClassicType{
    font-family: sign-ClassicType;
}
.sign-demo-content .sign-text-font-ClassicType {
    font-size: 65px;
    line-height: 103%;
}
.sign-text-font-ClassicType .sign-font-name{
    font-size: 19px !important;
}

@font-face {
    font-family: sign-Freehand;
    src: url("../../static/fonts/your-font/Freehand.ttf")
}
.sign-text-font-Freehand{
    font-family: sign-Freehand;
}
.sign-demo-content .sign-text-font-Freehand {
    font-size: 90px;
    /*line-height: 125%;*/
    line-height: 120%;
}
.sign-text-font-Freehand .sign-font-name{
    font-size: 30px !important;
    margin-top: -9px;
}

@font-face {
    font-family: sign-Freespirit;
    src: url("../../static/fonts/your-font/Freespirit.ttf")
}
.sign-text-font-Freespirit{
    font-family: sign-Freespirit;
}
.sign-demo-content .sign-text-font-Freespirit {
    font-size: 47px;
    /*line-height: 247%;*/
    line-height: 200%;
    padding-top: 25px !important;
}
.sign-text-font-Freespirit .sign-font-name{
    font-size: 16px !important;
}

@font-face {
    font-family: sign-Greenworld;
    src: url("../../static/fonts/your-font/Greenworld.ttf")
}
.sign-text-font-Greenworld{
    font-family: sign-Greenworld;
}
.sign-demo-content .sign-text-font-Greenworld {
    font-size: 100px;
    line-height: 88%;
}
.sign-text-font-Greenworld .sign-font-name{
    font-size: 31px !important;
}

@font-face {
    font-family: sign-Hamillton;
    src: url("../../static/fonts/your-font/Hamillton.ttf")
}
.sign-text-font-Hamillton{
    font-family: sign-Hamillton;
}
.sign-demo-content .sign-text-font-Hamillton {
    font-size: 95px;
    line-height: 140%;
}
.sign-text-font-Hamillton .sign-font-name{
    font-size: 29px !important;
    margin-top: 8px;
}

@font-face {
    font-family: sign-LoveNeon;
    src: url("../../static/fonts/your-font/LoveNeon.ttf")
}
.sign-text-font-LoveNeon{
    font-family: sign-LoveNeon;
}
.sign-demo-content .sign-text-font-LoveNeon {
    font-size: 60px;
    line-height: 95%;
}
.sign-text-font-LoveNeon .sign-font-name{
    font-size: 18px !important;
}

@font-face {
    font-family: sign-Marquee;
    src: url("../../static/fonts/your-font/Marquee.ttf")
}
.sign-text-font-Marquee{
    font-family: sign-Marquee;
}
.sign-demo-content .sign-text-font-Marquee {
    font-size: 85px;
    line-height: 100%;
}
.sign-text-font-Marquee .sign-font-name{
    font-size: 22px !important;
}

@font-face {
    font-family: sign-Mayfair;
    src: url("../../static/fonts/your-font/Mayfair.ttf")
}
.sign-text-font-Mayfair{
    font-family: sign-Mayfair;
}
.sign-demo-content .sign-text-font-Mayfair {
    font-size: 76px;
    line-height: 97%;
}
.sign-text-font-Mayfair .sign-font-name{
    font-size: 23px !important;
}

@font-face {
    font-family: sign-Melbourne;
    src: url("../../static/fonts/your-font/Melbourne.ttf")
}
.sign-text-font-Melbourne{
    font-family: sign-Melbourne;
}
.sign-demo-content .sign-text-font-Melbourne {
    font-size: 70px;
    line-height: 105%;
}
.sign-text-font-Melbourne .sign-font-name{
    font-size: 20px !important;
}

@font-face {
    font-family: sign-Monaco;
    src: url("../../static/fonts/your-font/Monaco.ttf")
}
.sign-text-font-Monaco{
    font-family: sign-Monaco;
}
.sign-demo-content .sign-text-font-Monaco {
    font-size: 70px;
    line-height: 89%;
}
.sign-text-font-Monaco .sign-font-name{
    font-size: 20px !important;
}

@font-face {
    font-family: sign-NeonGlow;
    src: url("../../static/fonts/your-font/NeonGlow.ttf")
}
.sign-text-font-NeonGlow{
    font-family: sign-NeonGlow;
}
.sign-demo-content .sign-text-font-NeonGlow {
    font-size: 75px;
    line-height: 102%;
}
.sign-text-font-NeonGlow .sign-font-name{
    font-size: 22px !important;
}

@font-face {
    font-family: sign-NeonLite;
    src: url("../../static/fonts/your-font/NeonLite.ttf")
}
.sign-text-font-NeonLite{
    font-family: sign-NeonLite;
}
.sign-demo-content .sign-text-font-NeonLite {
    font-size: 62px;
    line-height: 96%;
}
.sign-text-font-NeonLite .sign-font-name{
    font-size: 20px !important;
}

@font-face {
    font-family: sign-Neonscript;
    src: url("../../static/fonts/your-font/Neonscript.ttf")
}
.sign-text-font-Neonscript{
    font-family: sign-Neonscript;
}
.sign-demo-content .sign-text-font-Neonscript {
    font-size: 95px;
    line-height: 145%;
}
.sign-text-font-Neonscript .sign-font-name{
    font-size: 27px !important;
}

@font-face {
    font-family: sign-Neontrace;
    src: url("../../static/fonts/your-font/Neontrace.ttf")
}
.sign-text-font-Neontrace{
    font-family: sign-Neontrace;
}
.sign-demo-content .sign-text-font-Neontrace {
    font-size: 62px;
    line-height: 103%;
}
.sign-text-font-Neontrace .sign-font-name{
    font-size: 17px !important;
}

@font-face {
    font-family: sign-NeoTokyo;
    src: url("../../static/fonts/your-font/NeoTokyo.ttf")
}
.sign-text-font-NeoTokyo{
    font-family: sign-NeoTokyo;
}
.sign-demo-content .sign-text-font-NeoTokyo {
    font-size: 73px;
    line-height: 110%;
}
.sign-text-font-NeoTokyo .sign-font-name{
    font-size: 20px !important;
}

@font-face {
    font-family: sign-Nevada;
    src: url("../../static/fonts/your-font/Nevada.ttf")
}
.sign-text-font-Nevada{
    font-family: sign-Nevada;
}
.sign-demo-content .sign-text-font-Nevada {
    font-size: 100px;
    line-height: 95%;
}
.sign-text-font-Nevada .sign-font-name{
    font-size: 32px !important;
    font-weight: bold !important;
}

@font-face {
    font-family: sign-NewCursive;
    src: url("../../static/fonts/your-font/NewCursive.ttf")
}
.sign-text-font-NewCursive{
    font-family: sign-NewCursive;
}
.sign-demo-content .sign-text-font-NewCursive {
    font-size: 100px;
    line-height: 88%;
}
.sign-text-font-NewCursive .sign-font-name{
    font-size: 30px !important;
}

@font-face {
    font-family: sign-Northshore;
    src: url("../../static/fonts/your-font/Northshore.ttf")
}
.sign-text-font-Northshore{
    font-family: sign-Northshore;
}
.sign-demo-content .sign-text-font-Northshore {
    font-size: 93px;
    line-height: 142%;
}
.sign-text-font-Northshore .sign-font-name{
    font-size: 28px !important;
    margin-top: 14px;
}

@font-face {
    font-family: sign-Rocket;
    src: url("../../static/fonts/your-font/Rocket.ttf")
}
.sign-text-font-Rocket{
    font-family: sign-Rocket;
}
.sign-demo-content .sign-text-font-Rocket {
    font-size: 50px;
    line-height: 165%;
}
.sign-text-font-Rocket .sign-font-name{
    font-size: 17px !important;
}

@font-face {
    font-family: sign-Royalty;
    src: url("../../static/fonts/your-font/Royalty.ttf")
}
.sign-text-font-Royalty{
    font-family: sign-Royalty;
}
.sign-demo-content .sign-text-font-Royalty {
    font-size: 68px;
    line-height: 160%;
}
.sign-text-font-Royalty .sign-font-name{
    font-size: 24px !important;
    margin-top: -11px;
}

@font-face {
    font-family: sign-SciFi;
    src: url("../../static/fonts/your-font/SciFi.ttf")
}
.sign-text-font-SciFi{
    font-family: sign-SciFi;
}
.sign-demo-content .sign-text-font-SciFi {
    font-size: 50px;
    line-height: 111%;
}
.sign-text-font-SciFi .sign-font-name{
    font-size: 22px !important;
}

@font-face {
    font-family: sign-Signature;
    src: url("../../static/fonts/your-font/Signature.ttf")
}
.sign-text-font-Signature{
    font-family: sign-Signature;
}
.sign-demo-content .sign-text-font-Signature {
    font-size: 100px;
    line-height: 98%;
}
.sign-text-font-Signature .sign-font-name{
    font-size: 32px !important;
    margin-top: -3px;
}

@font-face {
    font-family: sign-Typewriter;
    src: url("../../static/fonts/your-font/Typewriter.ttf")
}
.sign-text-font-Typewriter{
    font-family: sign-Typewriter;
}
.sign-demo-content .sign-text-font-Typewriter {
    font-size: 70px;
    line-height: 95%;
}
.sign-text-font-Typewriter .sign-font-name{
    font-size: 20px !important;
}

@font-face {
    font-family: sign-Vintage;
    src: url("../../static/fonts/your-font/Vintage.ttf")
}
.sign-text-font-Vintage{
    font-family: sign-Vintage;
}
.sign-demo-content .sign-text-font-Vintage {
    font-size: 75px;
    line-height: 108%;
}
.sign-text-font-Vintage .sign-font-name{
    font-size: 22px !important;
}

@font-face {
    font-family: sign-Waikiki;
    src: url("../../static/fonts/your-font/Waikiki.ttf")
}
.sign-text-font-Waikiki{
    font-family: sign-Waikiki;
}
.sign-demo-content .sign-text-font-Waikiki {
    font-size: 70px;
    line-height: 88%;
}
.sign-text-font-Waikiki .sign-font-name{
    font-size: 22px !important;
}

@font-face {
    font-family: sign-WildScript;
    src: url("../../static/fonts/your-font/WildScript.ttf")
}
.sign-text-font-WildScript{
    font-family: sign-WildScript;
}
.sign-demo-content .sign-text-font-WildScript {
    font-size: 105px;
    /*line-height: 115%;*/
    line-height: 100%;
}
.sign-text-font-WildScript .sign-font-name{
    font-size: 28px !important;
}

@font-face {
    font-family: sign-BatmanForever;
    src: url("../../static/fonts/your-font/BatmanForever.ttf")
}
.sign-text-font-Batman{
    font-family: sign-BatmanForever;
}
.sign-demo-content .sign-text-font-Batman {
    font-size: 60px;
    line-height: 85%;
}
.sign-text-font-Batman .sign-font-name{
    font-size: 23px !important;
}

@font-face {
    font-family: sign-BrittanySignature;
    src: url("../../static/fonts/your-font/BrittanySignature.ttf")
}
.sign-text-font-BrittanySignature{
    font-family: sign-BrittanySignature;
}
.sign-demo-content .sign-text-font-BrittanySignature {
    font-size: 65px;
    line-height: 160%;
}
.sign-text-font-BrittanySignature .sign-font-name{
    font-size: 17px !important;
}

@font-face {
    font-family: sign-JennaSue;
    src: url("../../static/fonts/your-font/JennaSue.ttf")
}
.sign-text-font-JennaSue{
    font-family: sign-JennaSue;
}
.sign-demo-content .sign-text-font-JennaSue {
    font-size: 110px;
    line-height: 85%;
}
.sign-text-font-JennaSue .sign-font-name{
    font-size: 37px !important;
}

@font-face {
    font-family: photograph-signature;
    src: url("../../static/fonts/your-font/PhotographSignature.ttf")
}
.sign-text-font-PhotographSignature{
    font-family: photograph-signature;
}
.sign-demo-content .sign-text-font-PhotographSignature {
    font-size: 115px;
    /*line-height: 70%;*/
    line-height: 115%;
}
.sign-text-font-PhotographSignature .sign-font-name{
    font-size: 20px !important;
}