@tailwind base;

h1 {
  @apply text-2xl font-semibold;
}

h2 {
  @apply text-xl font-semibold;
}

h3 {
  @apply text-lg font-semibold;
}

a {
  @apply text-black;
}

p {
  @apply font-light;
}

@tailwind components;
@tailwind utilities;
@tailwind forms;

@layer components {
  .btn-ui {
    @apply py-2 px-4 bg-ui-dark text-white text-sm font-medium rounded-md shadow focus:outline-none focus:ring-2 focus:ring-ui-dark focus:ring-opacity-75 disabled:bg-ui-medium;
  }
}

@layer components {
  .checkbox-ui {
    @apply text-ui-dark mr-2 h-4 w-4 focus:ring-ui-dark focus:ring-opacity-25 border border-ui-medium rounded-sm transition duration-150 ease-in-out;
  }
}

@layer components {
  .layout-base {
    @apply min-h-screen max-w-screen-2xl mx-auto py-12 px-4 sm:py-8 sm:px-6 lg:px-12;
  }
}

@layer base {
  html {
    font-family: arquitecta;
  }
}
@layer components {
  .primary-title {
    @apply font-extralight lg:font-semibold text-2xl lg:text-3xl uppercase text-[color:var(--secondary-color)];
  }
  .price {
    @apply font-[proxima-nova] font-extralight text-lg text-[color:var(--secondary-color)];
  }
  .describle {
    @apply font-[proxima-nova] whitespace-pre-line font-normal text-base text-[color:var(--secondary-color)];
  }
}

:root {
--default-pl: max(25px, calc((100% - 1145px) / 2 + 25px));
--rg: radial-gradient(circle 800px at 700px 200px, hsl(276 100% 99.0%), #FDFCFD00), radial-gradient(circle 600px at calc(100% - 300px) 300px, hsl(165 68.8% 89.5%), #FDFCFD00), radial-gradient(circle 800px at right center, hsl(193 99.0% 94.7%), #FDFCFD00), radial-gradient(circle 800px at right bottom, hsl(193 100% 98.8%), #FDFCFD00), radial-gradient(circle 800px at calc(50% - 600px) calc(100% - 100px), hsl(323 86.3% 96.5%), hsl(322 100% 99.4%), #FDFCFD00);
--dark-rg: radial-gradient(circle 800px at 700px 200px, hsl(283 30.0% 11.8%), #16161800), radial-gradient(circle 600px at calc(100% - 300px) 300px, hsl(174 84.8% 10.3%), #16161800), radial-gradient(circle 800px at right center, hsl(201 74.6% 12.2%), #16161800), radial-gradient(circle 800px at right bottom, hsl(205 45.0% 8.6%), #16161800), radial-gradient(circle 800px at calc(50% - 600px) calc(100% - 100px), hsl(319 41.0% 16.0%), hsl(318 25.0% 9.6%), #16161800);
--max-width: 1145px;
--primary-bg: rgb(248, 249, 250);
--secondary-color: hsl(206 24.0% 9.0%); /* hsl(210 6.0% 93.0%); */
--tertiary-color: hsl(206 6.0% 63.0%);

--fourth-color: rgb(236, 0, 140);
--fourth-hover-color: rgb(236, 0, 140, .5);
}